server:
  port: 9005

spring:
  application:
    name: notification-service

  main:
    web-application-type: servlet

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-group

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    instance-id: ${spring.application.name}:${random.value}
    prefer-ip-address: true
