server:
  port: 8083

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=ecommerce_user;encrypt=false
    username: sa
    password: Str0ngPassw0rd!
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect

  kafka:
    consumer:
      bootstrap-servers: localhost:9092
      group-id: user-profile-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    instance-id: ${spring.application.name}:${random.value}
    prefer-ip-address: true
