server:
  port: 9002

spring:
  application:
    name: product-service

  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=ecommerce_product;encrypt=false;trustServerCertificate=true
    username: sa
    password: Str0ngPassw0rd!
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 60000

  cache:
    type: redis
    redis:
      cache-null-values: false
      time-to-live: 600000

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: product-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    instance-id: ${spring.application.name}:${random.value}
    prefer-ip-address: true
